<!DOCTYPE HTML>
<html>
<head>
    <title>Group App One</title>
    <link rel="stylesheet" href="Style/style.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id='dmain'>
<div id='datain'>
<input id='brange' type='text'></input>
<input id='erange' type='text'></input>
<input id='rchkbox' type='checkbox'>Use Range</input>
<button id='rgbtn'>Send</button>
<div id='rslider' class='noUiSlider'></div>
<input id='rupper'></input><input id='rlower'></input>
</div>

<div id='dataout'>
<ul id='placelist'>
<li>
no results
</li>
</ul>
</div>
</div>
</body>
<link rel="stylesheet" href="Style/jquery.nouislider.css">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script src='src/jquery.nouislider.js'></script>
     <script src='src/gpview.js'>
     
     </script>
</html>